body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("piggy.jpg")
  }
  
h1{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.4rem;
    background-image: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #2E2B5F, #8B00FF);
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    
    
    
  }
  
.converter{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
.converter label, .converter select, .converter input{
    display: block;
    margin-bottom: 15px;
  }
  
.converter label{
    font-size: 1.2rem;
  }
  
.converter button{
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
.converter button:hover{
    background-color: #2980b9;
  }
  
p{
    margin-top: 30px;
    font-size: 1.2rem;
  }
  
#historical-rates-container{
    margin-top: 30px;
  }
  
#save-favorite{
    cursor: pointer;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
#save-favorite:hover{
    background-color: #21945b;
  }
  
#favorite-currency-pairs{
    margin-top: 30px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }
  
#favorite-currency-pairs h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
.fav-list-item{
    list-style-type: square;
    margin-left: 30px;
  }
.hList{
  list-style: none;
}
  